In [1]:
import pandas as pd
from pprint import pprint
from settings.settings import ROOT_DIR, LOCAL_DATA_PATH

In [2]:
def read_excel_data(filename):
    df = pd.read_excel(filename,converters= {'date': pd.to_datetime})
        # LOCAL_DATA_PATH.joinpath(filename),
        #                converters= {'date': pd.to_datetime})
    return df


def prepare_data(df):
    df[['lat', 'long']] = list(
        df['coordinates'].str.replace(r'[()]', '', regex=True).str.split(','))
    df = df.drop(['coordinates'], axis=1)
    df[['lat', 'long']] = df[['lat', 'long']].astype('float64')
    lowercase = lambda x: str(x).lower()
    df.rename(lowercase, axis='columns', inplace=True)
    df['region'] = df['region'].apply(lowercase)
    return df


def group_data(df):
    return df.groupby(by=['region', 'site', 'date'])

In [6]:
data = read_excel_data(LOCAL_DATA_PATH.joinpath('mart_operative_forecasting_results.xlsx'))
data = prepare_data(data)
grouped_data = group_data(data)

In [10]:
data

,site,region,cluster,date,hour,yeild,forecast,error,lat,long
0,Yelanets-2,mykolayiv,10,2022-01-01,1,-15.0,-14,-1,47.70700,31.84680
1,Yelanets-2,mykolayiv,10,2022-01-01,2,-14.0,-14,0,47.70700,31.84680
2,Yelanets-2,mykolayiv,10,2022-01-01,3,-14.0,-14,0,47.70700,31.84680
3,Yelanets-2,mykolayiv,10,2022-01-01,4,-14.0,-14,0,47.70700,31.84680
4,Yelanets-2,mykolayiv,10,2022-01-01,5,-14.0,-14,0,47.70700,31.84680
...,...,...,...,...,...,...,...,...,...,...
14659,Afanasiivka,mykolayiv,11,2022-01-13,20,NaN,-33,33,47.00201,32.82572
14660,Afanasiivka,mykolayiv,11,2022-01-13,21,NaN,-33,33,47.00201,32.82572
14661,Afanasiivka,mykolayiv,11,2022-01-13,22,NaN,-33,33,47.00201,32.82572
14662,Afanasiivka,mykolayiv,11,2022-01-13,23,NaN,-33,33,47.00201,32.82572
14663,Afanasiivka,mykolayiv,11,2022-01-13,24,NaN,-33,33,47.00201,32.82572

In [32]:

map_data = data.groupby(by =['site', 'date']).agg({'yeild':'sum', 'lat':'first', 'long':'first'})
map_data

                          yeild       lat      long
site        date
Afanasiivka 2022-01-01   2805.0  47.00201  32.82572
            2022-01-02  26159.0  47.00201  32.82572
            2022-01-03   7026.0  47.00201  32.82572
            2022-01-04  34985.0  47.00201  32.82572
            2022-01-05  27554.0  47.00201  32.82572
...                         ...       ...       ...
Yelanets-2  2022-01-09    694.0  47.70700  31.84680
            2022-01-10   2054.0  47.70700  31.84680
            2022-01-11      0.0  47.70700  31.84680
            2022-01-12      0.0  47.70700  31.84680
            2022-01-13      0.0  47.70700  31.84680

[611 rows x 3 columns]

In [33]:
map_data.reset_index()

            site       date    yeild       lat      long
0    Afanasiivka 2022-01-01   2805.0  47.00201  32.82572
1    Afanasiivka 2022-01-02  26159.0  47.00201  32.82572
2    Afanasiivka 2022-01-03   7026.0  47.00201  32.82572
3    Afanasiivka 2022-01-04  34985.0  47.00201  32.82572
4    Afanasiivka 2022-01-05  27554.0  47.00201  32.82572
..           ...        ...      ...       ...       ...
606   Yelanets-2 2022-01-09    694.0  47.70700  31.84680
607   Yelanets-2 2022-01-10   2054.0  47.70700  31.84680
608   Yelanets-2 2022-01-11      0.0  47.70700  31.84680
609   Yelanets-2 2022-01-12      0.0  47.70700  31.84680
610   Yelanets-2 2022-01-13      0.0  47.70700  31.84680

[611 rows x 5 columns]

In [39]:
data['date'].min().date()

datetime.date(2022, 1, 1)

In [103]:
grouped_data.get_group(('dnipro', 'Balivka', '2022-01-05'))

,site,region,cluster,date,hour,yeild,forecast,error,lat,long
14136,Balivka,dnipro,13,2022-01-05,1,-27.0,-44,17,48.59656,34.74867
14137,Balivka,dnipro,13,2022-01-05,2,-55.0,-44,-11,48.59656,34.74867
14138,Balivka,dnipro,13,2022-01-05,3,-28.0,-44,16,48.59656,34.74867
14139,Balivka,dnipro,13,2022-01-05,4,-54.0,-44,-10,48.59656,34.74867
14140,Balivka,dnipro,13,2022-01-05,5,-28.0,-44,16,48.59656,34.74867
14141,Balivka,dnipro,13,2022-01-05,6,-54.0,-44,-10,48.59656,34.74867
14142,Balivka,dnipro,13,2022-01-05,7,-28.0,-44,16,48.59656,34.74867
14143,Balivka,dnipro,13,2022-01-05,8,-55.0,-44,-11,48.59656,34.74867
14144,Balivka,dnipro,13,2022-01-05,9,210.0,126,84,48.59656,34.74867
14145,Balivka,dnipro,13,2022-01-05,10,399.0,588,-189,48.59656,34.74867
14146,Balivka,dnipro,13,2022-01-05,11,1386.0,1258,128,48.59656,34.74867
14147,Balivka,dnipro,13,2022-01-05,12,1617.0,2652,-1035,48.59656,34.74867
14148,Balivka,dnipro,13,2022-01-05,13,1617.0,2992,-1375,48.59656,34.74867
14149,Balivka,dnipro,13,2022-01-05,14,1092.0,2421,-1329,48.59656,34.74867
14150,Balivka,dnipro,13,2022-01-05,15,672.0,1422,-750,48.59656,34.74867
14151,Balivka,dnipro,13,2022-01-05,16,231.0,173,58,48.59656,34.74867
14152,Balivka,dnipro,13,2022-01-05,17,-54.0,-44,-10,48.59656,34.74867
14153,Balivka,dnipro,13,2022-01-05,18,-28.0,-44,16,48.59656,34.74867
14154,Balivka,dnipro,13,2022-01-05,19,-27.0,-44,17,48.59656,34.74867
14155,Balivka,dnipro,13,2022-01-05,20,-55.0,-44,-11,48.59656,34.74867
14156,Balivka,dnipro,13,2022-01-05,21,-27.0,-44,17,48.59656,34.74867
14157,Balivka,dnipro,13,2022-01-05,22,-55.0,-44,-11,48.59656,34.74867
14158,Balivka,dnipro,13,2022-01-05,23,-27.0,-44,17,48.59656,34.74867
14159,Balivka,dnipro,13,2022-01-05,24,-28.0,-44,16,48.59656,34.74867

In [115]:
data.da

site                object
region              object
cluster              int64
date        datetime64[ns]
hour                 int64
yeild              float64
forecast             int64
error                int64
lat                float64
long               float64
dtype: object